﻿@using QLVBWeb.Services;
@using QLVBWeb.Entities.Entity;
@using QLVBWeb.DAL;
@{
    QLVBWeb.Services.UserService userService = new UserService();
    List<User> userList = userService.GetAll().ToList();
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<h4> SLuong User= @userList.Count() </h4>
<ul>
        @{
            foreach (var item in userList)
            {
                <li>
                    <a href=""><span style="color:white">@item.UserName</span>  </a> | <span>@item.Email</span> | <span>@item.Birthday</span>
                </li>
            }
        }
    </ul>




