﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | QLVB-STCKH</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE230/dist/css/AdminLTE.min.css")">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE230/dist/css/skins/_all-skins.min.css")">

    <!----------Animate------------------>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")">

    <!-- DataTables -->
    <link href="@Url.Content("~/Content/Table/css/jquery.dataTables.css")" rel="stylesheet" />


    <link href="@Url.Content("~/Content/Table/extensions/KeyTable/css/keyTable.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Table/extensions/KeyTable/css/keyTable.dataTables.min.css")" rel="stylesheet" />


    <link href="@Url.Content("~/Content/fixedDataTables.css")" rel="stylesheet" />


    <!-------------Loading Overlay----------------->
    <link rel="stylesheet" href="@Url.Content("~/Content/waitMe/waitMe.css")">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE230/plugins/select2/select2.min.css")">
    <!-- daterange picker -->
    @*<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-daterangepicker/daterangepicker.css")">*@

    <!-- date picker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datepicker/css/datepicker.css")">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminLTE230/plugins/iCheck/all.css")">
    <!-- JqxWidget -->
    <link href="@Url.Content("~/Content/jqwidgets/styles/jqx.base.css")" rel='stylesheet'>
    <link href="@Url.Content("~/Content/fixedJqxGrid.css")" rel='stylesheet'>
    <!-- uploadify -->
    <link href="@Url.Content("~/Content/Uploadify/uploadify.css")" rel='stylesheet'>


    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">

    <script src="@Url.Content("~/Scripts/jQuery-2.1.4.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-1.12.0.min.js")"></script>*@
    <!--<script src=" ACONG Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script> -->
    @*<script src="@Url.Content("~/Content/AdminLTE230/plugins/jQuery/jQuery-2.1.4.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>

    <script src="@Url.Content("~/Content/AdminLTE230/plugins/jQueryUI/jquery-ui.min.js")"></script>

    <link href="@Url.Content("~/Content/jquery-ui/jquery-ui.min.css")" rel="stylesheet" />

    @*<script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>*@ @*Need for Autocomplete*@
    <!-- Need a
        Geocomplete
        jQuery Geocoding and Places Autocomplete Plugin
        -->
    @*<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX2tsgHoI-eG0CgFX1rtAsJ8qECSj89Fg&libraries=places&callback=initMap" async defer></script>*@
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->

    <script src="@Url.Content("~/Scripts/jquery.geocomplete.js")"></script>
    <!-- js Chart-->
    <script src="@Url.Content("~/Scripts/morris.min.js")"></script>
    <script src="@Url.Content("~/Scripts/raphael-min.js")"></script>
    <script>
        //Will use it later, but not now
        /*
        function GetLocationIP() {
            if ($.cookie('locationIP') == undefined) {
                $.ajax({
                    url: "http://jsonip.com?callback=?",
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        console.log("LocationIP:", data.ip);
                        locationIP = data.ip;
                        $.cookie('locationIP', locationIP);
                    }
                });
            }

        }
        $(document).ready(function () {
            GetLocationIP();
        });
        */
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .content-header {
            padding-top: 0px !important;
        }
    </style>

</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">

    <div class="wrapper">

        @Html.Partial("_PartialAdminTopNavigation")

        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_PartialAdminLeftNavigation")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        @Html.Partial("_PartialAdminFooter")
    </div>

    <div class="modal fade" id="modalMessage" title="Message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title animated rubberBand" id="titleOfMessageModal">Message</h4>
                </div>
                <div class="modal-body">
                    <p id="modalMessageContent"></p>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>



    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="@Url.Content("~/Content/AdminLTE230/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    @*<script src="@Url.Content("~/Content/AdminLTE230/plugins/fastclick/fastclick.min.js")"></script>*@
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/AdminLTE230/dist/js/app.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/AdminLTE230/dist/js/demo.js")"></script>

    <!-------------Loading Overlay----------------->
    <script src="@Url.Content("~/Content/waitMe/waitMe.js")"></script>
    <!-- Select2 -->
    <script src="@Url.Content("~/Content/AdminLTE230/plugins/select2/select2.full.min.js")"></script>
    <!-- date-range-picker -->
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <!-- date-picker -->
    <script src="@Url.Content("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <!-- jqwidgets -->
    <script src="@Url.Content("~/Content/jqwidgets/jqxcore.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxdata.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxbuttons.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxscrollbar.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxmenu.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.columnsresize.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.edit.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.selection.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.pager.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.sort.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.columnsreorder.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.filter.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxlistbox.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxdropdownlist.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxcheckbox.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxcalendar.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxnumberinput.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxdatetimeinput.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/globalization/globalize.js")"></script>
    <script src="@Url.Content("~/Content/jqwidgets/jqxgrid.aggregates.js")"></script>

    <script src="@Url.Content("~/Content/Table/js/KeyTable.js")"></script>

    <!--datatable-->
    <script src="@Url.Content("~/Content/Table/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/Table/js/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/Table/js/jquery.jeditable.js")"></script>
    <script src="@Url.Content("~/Content/Table/js/jquery.dataTables.editable.js")"></script>

    <script src="@Url.Content("~/Content/Table/extensions/KeyTable/js/dataTables.keyTable.js")"></script>
    <!-- iCheck 1.0.1 -->
    <script src="@Url.Content("~/Content/AdminLTE230/plugins/iCheck/icheck.min.js")"></script>
    <!-- multiple file upload plugin -->
    <script src="@Url.Content("~/Content/Uploadify/jquery.uploadify-3.1.min.js")"></script>


    <script src="@Url.Content("~/Scripts/jqueryApp.js")"></script>


</body>
</html>
