﻿@using QLVBWeb.Entities.Entity;
@using QLVBWeb.Services;
@using Microsoft.AspNet.Identity;

 
<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
 
        <text>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @*<img src="@Url.Content("~/Content/AdminLTE230/dist/img/user2-160x160.jpg")" class="user-image" alt="User Image">*@
                @if (User.IsInRole("MasterAdmin"))
                {
                    <img src="@Url.Content("~/Content/img/AQR-admin.png")" class="user-image" alt="AdminImage">
                }
                @if ((User.IsInRole("ClientAdmin")) || (User.IsInRole("User")))
                {
                    <img src="#" class="user-image" alt="User Image">
                }
                @if (User.IsInRole("SupplierAdmin"))
                {
                    <img src="#" class="user-image" alt="User Image">
                }
                <span class="hidden-xs">@User.Identity.Name</span>

            </a>
            <ul class="dropdown-menu" style="width:310px !important">
                <!-- User image -->
                <li class="user-header" id="personImage">
                    @if (User.IsInRole("MasterAdmin"))
                    {
                        <img src="@Url.Content("~/Content/img/AQR-admin.png")" class="img-circle" alt="AdminImage">
                    }
                    @if ((User.IsInRole("ClientAdmin")) || (User.IsInRole("User")))
                    {
                        <img src="#" class="img-circle" alt="User Image">
                    }
                    @if ((User.IsInRole("SupplierAdmin")) || (User.IsInRole("SupplierUser")))
                    {
                        <img src="#" class="img-circle" alt="User Image">
                    }

                    <p>
                        @User.Identity.Name.ToUpper()
                        <!--
                         <small>Member since Mar. 2015</small>
                            -->
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="col-xs-4 text-center" hidden>
                        @*<a href="@Url.Action("ChangeUserName","Account")">Change user</a>*@
                        <a href="@Url.Action("ChangeImage","Account")">Change image</a>
                    </div>
                    @*<div class="col-xs-4 text-center">
                            <a href="@Url.Action("ChangePassword","Account")">Change password</a>
                        </div>*@
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
  
                            <a href="@Url.Action("UserProfile","Person")" class="btn btn-default btn-flat">Profile</a>
         
                            <a href="@Url.Action("UserProfile","SupplierPerson")" class="btn btn-default btn-flat">Profile</a>
                      
                        <a href="@Url.Action("ChangePassword","Account")" class="btn btn-default btn-flat">Change password</a>

                    </div>
                    <div class="pull-right">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a></li>
                        }
                        </div>
                </li>
                </ul>
 

    </li>
