﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="www.leaves.vn">QLVB</a>.</strong> All rights reserved.
</footer>