﻿@using QLVBWeb.Services;
@using QLVBWeb.Entities.Entity;
@using QLVBWeb.DAL;
@{
    QLVBWeb.Services.UserService userService = new UserService();
    List<User> userList = userService.GetAll().ToList();
}
<script type="text/javascript">
    var SupplierName = '@ViewBag.SupplierName'; //SupplierName
    var ClientName = '@ViewBag.ClientName'; //ClientName
    var toClient ='@ViewBag.toClient';
    var roleName = "@ViewBag.RoleName";
    var search = window.location.search;   // ?filter=a
    var rootName = "";
    
    if (search.split('&').length > 1) {
        rootName = search.split('&')[0].split('=')[0].replace('?', '');
    }

    if (roleName == "MasterAdmin")
    {
        if ((toClient != "")  || (SupplierName != "")){
            $("#mainCaption h4").html("Supplier: " + SupplierName);
        }
        if (ClientName != "")  {
            $("#mainCaption h4").html("Client: " + ClientName);
        }
    }
    else {
        if (toClient != "") //|| (SupplierName != "") || (rootName != "")) {
        {
            //alert(toClient);
            $("#mainCaption").html("Client: " + toClient);
        }
        if (ClientName != "") {
            $("#mainCaption").html( ClientName);
        }
    }
</script>
<style>
    #menulanguageList {
        height: auto !important;
        min-height: inherit !important;
        max-height: none !important;
    }

        #menulanguageList li {
            border-bottom: 1px solid #eee;
        }

            #menulanguageList li img {
                width: 25px;
                height: auto;
            }

    .slimScrollDiv {
        height: auto !important;
    }
</style>
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>QLVB-STC</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>QLVB-STC</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div id="mainCaption" style="float:left; margin-left:50px">
            <h4> SLuong User= @userList.Count() </h4>
            @*<ul>
                @{
                    foreach (var item in userList)
                    {
                        <li>
                            <a href=""><span style="color:white">@item.UserName</span>  </a> | <span>@item.Email</span> | <span>@item.Birthday</span>
                        </li>
                    }
                }
            </ul>*@
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: Multi lingual Setting-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @{
                            string countryLogo = "/Content/img/Country/20150718103957United_Kingdom.png";
                            string languageName = "English";
                            string currencyName = "AUD";
                            int clientId = 0;
                            HttpCookie Cookie = Request.Cookies["Client"];
                            if (Cookie != null)
                            {
                                 
                            }
                        }
                        <span>@Html.Raw(@languageName)</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Language Setting</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="menulanguageList">
                                 
                                        <text>
                                            <li>
                                                <a href="@Url.Action("Home", "Home" )">
                                                    <div class="pull-left" style="margin-left:10px ;width:100%">
                                                        <img src="#" width="25" /><span>langName</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </text>
                          
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="height:100%; border-left:solid 1px #9bb0be"><h3>&nbsp;</h3></li>
                <!-- Messages: Curency Setting-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="~/Content/img/coins.png" width="25" />*@
                        <span>
                            @Html.Raw(@currencyName)
                        </span>

                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Curency Setting</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                @*<li>
                                        <a href="#">
                                            <div class="pull-left">
                                            </div>
                                        </a>
                                    </li>*@
                            

                              
                                       
                                            <li>
                                                <a href="@Url.Action("CurrencySetting", "Home"  )">
                                                    <div class="pull-left" style="margin-left:10px ;width:100%">
                                                        <span> CurrencyISOCode</span>
                                                    </div>
                                                </a>
                                            </li>
                                  
        
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="height:100%; border-left:solid 1px #9bb0be"><h3>&nbsp;</h3></li>
                @Html.Partial("_PartialAdminUserAccount")


            </ul>
        </div>
    </nav>
</header>