﻿@using QLVBWeb.Services;
@using QLVBWeb.Entities.Entity;
<script>
    var rootName = "";
    var supplierName = '@ViewBag.SupplierName';
    var clientName = "";
    var toClient = "";
    var roleName = '@ViewBag.RoleName';
    var SupplierCompanyName = '@ViewBag.SupplierCompanyName';
    var ClientCompanyName ='@ViewBag.ClientCompanyName';
    function getUrlParts()
    {
        // If URL is http://www.somedomain.com/account/search?filter=a#top
        var pathname = window.location.pathname; // /account/search
        // For reference:

        var host = window.location.host;     // www.somedomain.com (includes port if there is one)
        var hash =window.location.hash;     // #top
        var href=window.location.href;     // http://www.somedomain.com/account/search?filter=a#top
        var port=window.location.port;     // (empty string)
        var protocol=window.location.protocol; // http:
        var search =window.location.search;   // ?filter=a

        if (search.split('&').length > 1)
        {
            rootName = search.split('&')[0].split('=')[0].replace('?', '');
            //clientName = search.split('&')[1].split('=')[1];
            if (rootName == "clientName") {
                supplierName = search.split('&')[1].split('=')[1];
                clientName = search.split('&')[0].split('=')[1];
            }
            if (rootName == "supplierName")
            { //MasterAdmin
                supplierName = search.split('&')[0].split('=')[1];
                clientName = search.split('&')[1].split('=')[1];
                toClient = search.split('&')[1].split('=')[1];
            }
        } else
        {
            if(search.length>0)
            {
                rootName = search.split('=')[0].replace('?', '');
                if (rootName == "supplierName") {
                    supplierName = search.split('=')[1];
                    //console.log("supplierName=" + supplierName);
                }
                if (rootName == "clientName") {
                    clientName = search.split('=')[1];
                    //console.log("clientName=" + clientName);
                }
            }
        }

        if (toClient != "")
        {
            clientName = toClient;
        }
        // console.log("rootName=" + rootName);
        // console.log("supplierName=" + supplierName);
        // console.log("clientName=" + clientName);
        //  console.log("toClient=" + toClient);

        //rootName = search.split('=')[0].replace('?','');
    }
</script>
<script>
    getUrlParts();

    $(document).ready(function () {
        if ((rootName == "clientName") || ((rootName == "") && (supplierName == ""))) //MasterAdmin or ClientAdmin
        {
            showTotalClients();
        }
        if ((rootName == "supplierName") || (supplierName!=""))
        {
            showTotalClientsBySupplier(supplierName);
        }
        if (roleName == "MasterAdmin")
        {
            if ((rootName == "clientName") || (clientName != ''))
            {
                showTotalSuppliersByClient(clientName);
            }
            if (rootName == "") {
                showTotalSuppliers();
            }
        }

        if (clientName != '') {
            //<a href=" Url.Action("Index", "Home")' + "?"  + 'toClient=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a>

            $("#dashboard").prop("href", "Dashboard?clientName=" + clientName);
        }

        SetMenuContext();
    })

    function showTotalClients() {
        $.ajax({
            url: "@Url.Action("GetClientNamesList", "Client")",
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            error: function (textStatus, error) {
                alert("Eror: " + textStatus);
            },
            success: function (result) {
                if (result != null) {
                    var clientList = "";
                    $.each(result, function (index, item) {
                        strHTML = '<li><a href="@Url.Action("Index", "Home")' + '?clientName=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        $("#clientlist").append(strHTML);
                    });
                    $("#totalClients").text(result.length);
                }
            }
        });
    }

    function showTotalClientsBySupplier(supplierID) {
        $.ajax({
            url: "@Url.Action("GetClientNamesListBySupplier", "Client")",
            data: {
                supplierID: supplierName
            },
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            error: function (textStatus, error) {
                alert("Eror: " + textStatus);
            },
            success: function (result) {
                if (result != null) {
                    var clientList = "";
                    $.each(result, function (index, item) {
                        if (roleName == 'SupplierAdmin')
                        {
                            strHTML = '<li><a href="@Url.Action("Index", "Home")' + "?"  + 'toClient=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        }
                        else if (roleName == 'SupplierUser')
                        {
                            strHTML = '<li><a href="@Url.Action("Index", "Home")' + "?" + 'toClient=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        }
                        else
                        {
                            strHTML = '<li><a href="@Url.Action("Index", "Home")' + "?supplierName=" + supplierName + "&" + 'toClient=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        }
                        $("#clientlist").append(strHTML);
                    });
                    $("#totalClients").text(result.length);
                }
            }
        });
    }
    function showTotalSuppliersByClient(clientID) {
        $.ajax({
            url: "@Url.Action("GetSupplierNamesListByClient", "Supplier")",
            data: {
                clientID: clientID
            },
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            error: function (textStatus, error) {
                alert("Eror: " + textStatus);
            },
            success: function (result) {
                if (result != null) {
                    var clientList = "";
                    $.each(result, function (index, item) {
                        if (roleName == 'ClientAdmin')
                        {
                            strHTML = '<li><a href="@Url.Action("Index", "Home")' + "?" + 'supplierName=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        }
                        else if (roleName == 'ClientUser')
                        {
                            strHTML = '<li><a href="@Url.Action("Index", "Home")' + "?" + 'supplierName=' + item.Name + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        }
                        else
                        {
                            strHTML = '<li><a href="@Url.Action("Index", "Home")' + "?supplierName=" + item.Name + "&" + 'toClient=' + clientName + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                        }
                        $("#supplierlist").append(strHTML);
                    });
                    $("#totalSuppliers").text(result.length);
                }
            }
        });
    }
    function showTotalSuppliers() {
        $.ajax({
            url: "@Url.Action("GetSupplierNamesList", "Supplier")",
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            error: function (textStatus, error) {
                alert("Eror: " + textStatus);
            },
            success: function (result) {
                if (result != null) {

                    var supplierList = "";
                    $.each(result, function (index, item) {
                        strHTML = '<li><a href="@Url.Action("Index", "Home")' + '?supplierName=' + item.SupplierID + '"><i class="fa fa-circle-o"></i> ' + item.Name + '</a></li>';
                    $("#supplierlist").append(strHTML);
                });
                $("#totalSuppliers").text(result.length);
            }
        }
    });
    }

    function SetMenuContext()
    {
        SetClientContext();
        SetSupplierContext();
    }
    function SetClientContext()
    {
        if (rootName == "clientName") {
            $("#accountlist #masterAccountLink").hide();
            $("#accountlist #supplierAccountLink").hide();
            $("#supplierStaffLink").hide();
            $("#clientPart").hide();
            $("#supplierLink").hide();
            $("#masterAdminPart").hide();

            $("#supplierPart").hide(); //just want to show in admin
            if(ClientCompanyName !='')
            {
                $("#mainCaption h4").html("Client: "+ClientCompanyName);
            }
        }
    }
    function SetSupplierContext()
    {
        if (rootName == "supplierName") {
            $("#accountlist #masterAccountLink").hide();
            $("#accountlist #accountLink").hide();
            $("#staffLink").hide();
            $("#supplierPart").hide();
            $("#masterAdminPart").hide();
            $("#dashboard").hide(); //Never showing dashboard to Supplier
            $("#clientLink").hide();
            $("#supplierPart").hide();  //just want to show in admin
            if(SupplierCompanyName!='')
            {
                $("#mainCaption h4").html("Supplier: " + SupplierCompanyName);
                if(toClient!='')
                {
                    $("#mainCaption h4").html("Supplier: " + SupplierCompanyName + " works with " + ClientCompanyName);
                }
            }
        }
        if (rootName == "toClient")
        {
            $("#mainCaption h4").html("Working with " + ClientCompanyName);
        }
    }
</script>
@{
    int languageId = 1; //EN
    string LanguageCode = "EN";
    HttpCookie Cookie = Request.Cookies["Client"];

    
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
     
                    <li class="header">Setting </li>
                
                        <li>
                            <a id="dashboard" href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-area-chart"></i>
                                @*<img src="@Url.Content("~/Content/Img/Dashboard.png")" width="20" />*@
                                <span> Dashboard </span>
                            </a>
                        </li>
                  
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i>
                            <span>Home </span>
                        </a>
                    </li>
                <!-- Staff list-->
                        <li id="staffLink">
                            <a href="@Url.Action("Index", "ProcessReport")">
                                <i class="fa fa-edit"></i>
                                <span>Process Report</span>
                            </a>
                        </li>
                        <li id="staffLink">
                            <a href="@Url.Action("Index", "Person")">
                                <i class="fa fa-user"></i>
                                <span>Staff @*@Html.translateTo("Staff", @languageId)*@</span>
                            </a>
                        </li>
           
                        <li id="supplierStaffLink">
                            <a href="@Url.Action("Index", "SupplierPerson")">
                                <i class="fa fa-user"></i>
                                <span>Staff @*@Html.translateTo("Staff", @languageId)*@</span>
                            </a>
                        </li>
              
                 
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-th-list"></i>
                                <span>Staff</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <ul id="stafflist" class="treeview-menu">
                                <li id="staffLink">
                                    <a href="@Url.Action("Index", "Person")">
                                        <i class="fa fa-user"></i>
                                        <span>Client Staff @*@Html.translateTo("Staff", @languageId)*@</span>
                                    </a>
                                </li>
                                <li id="supplierStaffLink">
                                    <a href="@Url.Action("Index", "SupplierPerson")">
                                        <i class="fa fa-user"></i>
                                        <span>Supplier Staff @*@Html.translateTo("Staff", @languageId)*@</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                 
 
 
                <!--Client List-->
                    <li class="treeview" id="clientPart">
                        <a href="#">
                            @*<i class="fa fa-users"></i>*@
                            <img src="@Url.Content("~/Content/Img/Client.png")" width="18" />
                            <span>Client  </span>
                            <span id="totalClients" class="label label-primary pull-right">0</span>
                        </a>
                        <ul id="clientlist" class="treeview-menu"></ul>
                    </li>
                <!--Supplier List-->
    
                        <li class="treeview" id="supplierPart">
                            <a href="#">
                                @*<i class="fa fa-users"></i>*@
                                <img src="@Url.Content("~/Content/Img/Client.png")" width="18" />
                                <span>Supplier</span>
                                <span id="totalSuppliers" class="label label-primary pull-right">0</span>
                            </a>
                            <ul id="supplierlist" class="treeview-menu"></ul>
                        </li>
                  
  
        </ul>
 
                <ul class="sidebar-menu">
                    <li class="header">Setting </li>
         
                        <li class="treeview" id="accountLink">
                            <a href="@Url.Action("Index","Account")">
                                <i class="fa fa-user"></i>
                                <span>Account</span>
                            </a>
                        </li>
         
                        <li class="treeview" id="supplierAccountLink">
                            <a href="@Url.Action("Index","SupplierAccount")">
                                <i class="fa fa-user"></i>
                                <span>Account</span>
                            </a>
                        </li>
      
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-th-list"></i>
                                <span>Account</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul id="accountlist" class="treeview-menu">
                                <li class="treeview" id="accountLink">
                                    <a href="@Url.Action("Index","Account")">
                                        <i class="fa fa-user"></i>
                                        <span>Client Account</span>
                                    </a>
                                </li>
                                <li class="treeview" id="supplierAccountLink">
                                    <a href="@Url.Action("Index","SupplierAccount")">
                                        <i class="fa fa-user"></i>
                                        <span>Supplier Account</span>
                                    </a>
                                </li>
                                <li class="treeview" id="masterAccountLink">
                                    <a href="@Url.Action("Index","MasterAccount")">
                                        <i class="fa fa-user"></i>
                                        <span>MasterAdmin Account</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
               

                    

                </ul>
 
    </section>
    <!-- /.sidebar -->
</aside>
